<ion-header>

</ion-header>

<ion-content>
  
  <img src='/assets/img/logoart.PNG' height=90 width=290 alt= logo class= 'logo'>

  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">   
      
    <ion-item>
      <ion-label position='floating'>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position='floating'>Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-row class= 'ion-justify-content-center'>
      <ion-button type='submit' color='warning shade' shape='round'>ENTRAR</ion-button>
    </ion-row>

  </form>
</ion-content>
