<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-title>
      About Artistics!
    </ion-card-title>
    <ion-card-subtitle>
      Our crew thought about the artists who doesn't have anywhere to show your art to the World, so we decided to create our platform, Artistics, in which you can share with your friends and new people your piece of art independently if you are a professional artist or just a lover. We have art for everyone!
    </ion-card-subtitle>
  </ion-card>
  <ion-card>
    <ion-card-title>
      Lorem Ipsum
    </ion-card-title>
    <ion-card-subtitle>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar vel arcu sit amet efficitur. Aenean lorem sapien, sagittis vitae eros eget, condimentum tempus neque. Curabitur ac euismod turpis. Ut aliquet gravida nisi, nec consectetur nulla pharetra in. Phasellus ultrices blandit commodo. Cras lobortis lobortis velit, a placerat eros ultrices non. Nulla porttitor porttitor vulputate. Nunc fermentum rhoncus turpis, ac.
    </ion-card-subtitle>
  </ion-card>

  <ion-card>
    <ion-card-title>
      Lorem Ipsum
    </ion-card-title>
    <ion-card-subtitle>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pulvinar vel arcu sit amet efficitur. Aenean lorem sapien, sagittis vitae eros eget, condimentum tempus neque. Curabitur ac euismod turpis.
    </ion-card-subtitle>
  </ion-card>
</ion-content>
<!--
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
-->
