ion-toolbar{
    --ion-toolbar-background: #FF8C00	;
}

*{
    --ion-background-color: #FFF5EE	;
}

ion-button{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom: 5%;
    margin-top:5%;
    
}

ion-card{
    --background: #FFF8DC	;
}

ion-textarea{
    padding-left:5%;
    padding-right:5%;
    border: solid 1px rgb(110, 82, 82);

}

ion-card-title{
    --color: black;
    padding-top: 3%;
    padding-left: 3%;
    font-weight: lighter;
}

ion-select{
    background-color: black;
}

ion-label{
    font-size: 1.2em;
color:black;
}