<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-row>  
      <ion-card-title>Nome de Usuário</ion-card-title>
      <p>Horário da Postagem</p>
    </ion-row>

    <ion-subtitle>
      <ion-grid>
        <ion-row>

          <ion-button color= 'danger'>
            <ion-icon name="musical-notes-outline"></ion-icon>
          </ion-button>

          <ion-button color= 'danger'>
            <ion-icon name="images-outline"></ion-icon>
          </ion-button>
        
        </ion-row>
      </ion-grid>
    </ion-subtitle>

    
    <ion-card-subtitle>
      <ion-textarea auto-grow='true'>
      </ion-textarea>
    </ion-card-subtitle>

    <div>
      <ion-button type="submit" color="danger" shape="round">Create a Post</ion-button>
    </div>

  </ion-card>
</ion-content>