h3{
    text-align: center;
}

ion-toolbar {
    color: #ffffff;
}

.addFoto {
    border-radius: 50%;
    border-color: grey;
    width: 50%;
}


ion-content {
    --background: linear-gradient(#ffffffc7, #ff8c00a6);

}

ion-item{
    padding-bottom:2% ;
    padding-top:2% ;
    --ion-item-background: none;
    --ion-text-color: black;
    padding-left: 4%;
    padding-right: 4%;
}

.ion-justify-content-center{
    padding-top:10% ;
    padding-bottom:10% ;
    color: #ff8c00;
    border-color: #ff8c00;
}

.logo{ 
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-bottom:10% ;
    margin-top:20% ;
}