<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src='/assets/img/logoart.PNG' height=90 width=290 alt='logo' class='logo'/>
  <!--CRIANDO O FORMULARIO-->
  <div class="form-content">
    <h3>Cadastre-se agora</h3>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
      <img
          [src]="image"
          vertical="center"
          horizontal="center"
          class="addFoto"/>
      <ion-button (click)="takePicture()"><ion-icon size="large" name="camera"></ion-icon>
      </ion-button>
      <p>Adicionar Foto</p>
    <ion-list>
      <!--NOME COMPLETO-->
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <!--EMAIL-->
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <!--TELEFONE-->
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="text" formControlName="phone" [brmasker]="{phone:true}"></ion-input>
      </ion-item>
      <!--SENHA-->
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <!--CONFIRMACAO DE SENHA-->
      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input type="password" formControlName="password_confirmation"></ion-input>
      </ion-item>
      <!--VALIDANDO A CONFIRMACAO DE SENHA-->
      <ion-item class='form-text error' *ngIf="registerForm.controls.password_confirmation.touched && registerForm.hasError('mismatchedPasswords') && registerForm.controls.password.valid">
        <ion-label no-margin stacked color="warning"><h6>Senhas não combinam</h6></ion-label>
      </ion-item>
    </ion-list>
    <!--CRIANDO BOTAO SUBMIT-->
    <ion-row class='ion-justify-content-center'>
      <ion-button fill="outline" type="submit" color="danger" shape="round" [disabled]="registerForm.invalid">Próximo passo</ion-button>
    </ion-row>
    </form>
  </div>

</ion-content>
