<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color='medium'>
    <ion-card-title>{{infosPost.title}}</ion-card-title>
    <ion-card-subtitle>Feito por {{infosUser.name}}</ion-card-subtitle>
    <ion-chip color='dark'>{{infosPost.category}}</ion-chip>
    <img [src] = infosPost.image >
    <p>{{infosPost.text}}</p>
  </ion-card>
  <h3>{{likes}} Curtidas</h3>
  <ion-button color='warning' *ngIf= "functionIsLogged && !check" (click)="like(infosPost.id)" fill = 'outline'><ion-icon name = 'thumbs-up'></ion-icon>CURTIR</ion-button>
  <ion-button color='warning' *ngIf= "functionIsLogged && check" (click)="dislike(infosPost.id)"><ion-icon name = 'thumbs-up'></ion-icon>DESCURTIR</ion-button>
  <ion-title  *ngIf= "!functionIsLogged"> Cadastre-se para interagir com o post</ion-title>
  <ion-list>
    <ion-item *ngFor ='let comment of comments' >
      <ion-avatar slot="start">
        <img src="{{comment.image}}"></ion-avatar>
      <ion-label>
        <h2>{{comment.user_name}}</h2>
        <p>{{comment.text}}</p>
      </ion-label>
    </ion-item>  
  </ion-list>  
  <ion-button color='warning' a routerLink = '/comments'><ion-icon name = 'chatbubbles'></ion-icon>COMENTAR</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='warning'>
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button a routerLink = '/explorer'><ion-icon name="globe"></ion-icon></ion-fab-button>
      <ion-fab-button a routerLink = '/home'><ion-icon name="home"></ion-icon></ion-fab-button>
      <ion-fab-button a routerLink = '/create-post'><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
