<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color='medium'>
    <ion-card-title>{{infosPost.title}}</ion-card-title>
    <ion-card-subtitle>Made By {{infosUser.name}}</ion-card-subtitle>
    <ion-chip color='light'>{{infosPost.category}}</ion-chip>
    <img [src] = infosPost.image >
    <p>{{infosPost.text}}</p>
  </ion-card>

  <ion-list>
    <ion-item *ngFor ='let comment of comments' >
      <ion-avatar slot="start">
        <img src="{{comment.image}}"></ion-avatar>
      <ion-label>
        <h2>{{comment.user_name}}</h2>
        <p>{{comment.text}}</p>
      </ion-label>
    </ion-item>  
  </ion-list>  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color='warning'>
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button a routerLink = '/explorer'><ion-icon name="globe"></ion-icon></ion-fab-button>
      <ion-fab-button a routerLink = '/home'><ion-icon name="home"></ion-icon></ion-fab-button>
      <ion-fab-button a routerLink = '/create-post'><ion-icon name="create"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
