<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm)">
    <p>Escolha assuntos de seu interesse:</p>

    <!--CRIANDO OS TABELAS NO BD-->

      <ion-item>
        <ion-checkbox formControlName="music"></ion-checkbox>
        <ion-label>Música</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox formControlName="paint"></ion-checkbox>
        <ion-label>Pintura</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox formControlName="photography"></ion-checkbox>
        <ion-label>Fotografia</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox formControlName="draw"></ion-checkbox>
        <ion-label>Desenho</ion-label>
      </ion-item>


    <!--CRIANDO O BOTÃO SUBMIT-->

    <ion-row class="submit-button">
      <ion-button type="submit" color="danger" shape="round">CADASTRAR</ion-button>
    </ion-row>
  </form>

</ion-content>
